hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: black;
}

.wait {
  text-align: center;
  margin-top: 5rem;
}

.card-img-top {
  width: 50% !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px !important;
  /* border-radius: 1rem !important; */
}

.card-title {
  font-size: 15px !important;
}

.table {
  border: 1px solid #ccc !important;
  background: rgba(
    255,
    255,
    255,
    0.04
  ) !important; /* Adjust the alpha (fourth parameter) for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  background-clip: border-box;
}
input {
  background: rgba(255, 255, 255, 0.04) !important;
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  background-clip: border-box;
}

.breadcrumb {
  background: rgba(
    255,
    255,
    255,
    0.04
  ) !important; /* Adjust the alpha (fourth parameter) for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  background-clip: border-box;
}
.m-r-15 {
  margin-right: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 0.5px solid rgba(0, 116, 217, 0.8);
  color: #fff;
  background: rgba(0, 116, 217, 0.8);
  text-align: center;
  font: 27px Arial, sans-serif;
}

.App {
  background-image: url("./assets/dark-mode-themed-landing-page-image-featuring-a-pharmaceutical-supply-chain-sleek-glass-vials-in-ne-455438473-transformed.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  transition: 3ms;
}
.blurred {
  background-image: url("./assets/background-blured.png");
  background-size: cover;
  height: 100vh;
  background-repeat: repeat;
  transition: 3ms;
}

.bluredBg {
  background: rgba(
    255,
    255,
    255,
    0.493
  ) !important; /* Adjust the alpha (fourth parameter) for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  height: 90vh;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 0 !important;
  padding: 25px;
}
.project-title {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  background-color: #1d1b1bc4;
  padding: 1%;
  margin: 50px;
  border-radius: 25px;
}
.navbar {
  color: #fff;
  background-color: #1d1b1bc4;
  height: 10vh;
}

.active-link {
  font-weight: bold;
  color: #fff !important;
}

.bg-transparent {
  background-color: rgb(0, 25, 255) !important;
}

.spinner-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Progress bar */
.progressbar-wrapper {
  background: transparent;
  width: 65%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.progressbar li {
  list-style-type: none;
  width: 16%;
  min-width: 100px;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  margin: 20px 0px 20px 0px;
}
.progressbar li:before {
  width: 90%;
  height: 90%;
  content: "";
  line-height: 60px;
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: #fff;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #7d7d7d;
  top: 30px;
  left: -50%;
  z-index: 0;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #000000;
  font-weight: bold;
}
.progressbar li.active:before {
  border-color: #e0a800;
  background: #e0a800;
}
.progressbar li.active + li:after {
  background-color: #000000;
}

.progressbar li.active:before {
  background: #e0a800 url("") no-repeat center center;
  background-size: 60%;
}
.progressbar li::before {
  background: #fff url("") no-repeat center center;
  background-size: 60%;
}

.progressbar {
  counter-reset: step;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
}

/* Track css */

body {
  background-color: #f9f9fa;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

/* @media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  display: block;
} */
.track-card {
  width: 100%;

  backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  background-clip: border-box;
  border: rgb(170, 170, 170) 1px solid;
  border-radius: 10px;
  padding: 20px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin: 20px !important;
  word-wrap: break-word;
  background: rgba(
    255,
    255,
    255,
    0.493
  ) !important; /* Adjust the alpha (fourth parameter) for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  background-clip: border-box;
  transition: 0.3s;
}

.card:hover {
  background: rgba(255, 255, 255, 0.708) !important;
  scale: 1.05;
}

.card .card-block {
  padding: 1.25rem;
  border: 5px solid rgba(0, 0, 0, 0.125);
}

h6 {
  font-size: 16px !important;
}

.text-c-green {
  color: #2ed8b6;
}

.m-l-10 {
  margin-left: 10px;
}

.proj-progress-card .progress {
  height: 6px;
  overflow: visible;
  margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
  position: relative;
}

.progress .progress-bar {
  height: 100%;
  color: inherit;
}

.bg-c-red {
  background: #e0a800 !important;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
  border: 3px solid #e0a800 !important;
}

.proj-progress-card .progress .progress-bar:after {
  content: "";
  background: #fff;
  position: absolute;
  right: -6px;
  top: -4px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.bg-c-blue {
  background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
  border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
  border: 3px solid #2ed8b6;
}

.bg-c-green {
  background: #2ed8b6;
}

.bg-c-yellow {
  background: #ffb64d;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
  border: 3px solid #ffb64d;
}

.m-b-30 {
  margin-bottom: 30px;
}

.text-c-red {
  color: #e0a800 !important;
}

.footer {
  height: 46px;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: 14px;
  display: inline-grid;
  justify-content: center;
  text-align: center;
}
